extends ../layout

block title
	title ЗВЕЗДОЧЕТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content
	a.back_link(href='/logout') Выход
	.title.star ЗВЕЗДОЧЕТ
	.main_menu_block
		br
		b Новости:
		a(href='/auth/news')= ' редактировать'
		br
		br
		b Выставки:
		a(href='/auth/exhibitions')= ' редактировать'
		//- br
		//- br
		//- b События:
		//- a(href='/auth/events')= ' редактировать'
		br
		br
		b Категории:
		a(href='/auth/categorys')= ' редактировать'