extends ../layout

block title
	title О ВЫСТАВКЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_title О ВЫСТАВКЕ
	.content_text
		p Все чаяния и надежды людей «оттепели» отразились в книгах и фильмах, в том числе написанных и снятых для детей. Писатели, художники, режиссеры хотели передать следующему поколению то, что так волновало их самих: трудный опыт войны и сталинских репрессий, радость жизни и веру в лучшее будущее.
		p С уверенностью можно говорить о появлении особой плеяды детских писателей и иллюстраторов. Они искали новые способы разговора с ребенком, и, как сейчас понятно, – в этом преуспели. Книги Виктора Драгунского, Бориса Заходера, Радия Погодина, Владислава Крапивина, Кира Булычева, Эдуарда Успенского до сих пор любимы читателями.
		p А графические работы Мая Митурича, Льва Токмакова, Геннадия Калиновского, Виктора Пивоварова, Виктора Чижикова считаются классикой книжной иллюстрации.
		p Многие удивятся, когда увидят, сколько любимых сегодняшними детьми героев – Незнайка, Дениска Кораблев, Чебурашка, Алиса Селезнева – придумано именно тогда нашими писателями, и сколько их литературных собратьев – Винни-Пух, Карлсон, Муми-тролль, Питер Пэн – пришло из-за границы благодаря блистательным переводчикам.
		p «Оттепель» с ее романтическим ощущением свободы и новых возможностей стихийно стала важной и привлекательной темой для нашего сегодняшнего общества – не случайно выходят посвященные ей фильмы, организуются выставки, издаются биографии людей того времени. Библиотека предлагает еще раз взглянуть на эти годы – но через призму детской литературы и детского чтения.
	.content_title НА ВЫСТАВКЕ МОЖНО:
	.content_text
		ul
			li увидеть и полистать детские книги 1956-68 годов из фондов РГДБ и РГБ, а также лучшие недавние переиздания;
			li узнать о жизни и творчестве знаковых детских писателей того периода;
			li познакомиться с работами иллюстраторов 1950-1960-х и сравнить их с рисунками современных молодых художников в переизданиях;
			li в специально сконструированной интерактивной зоне побродить по кукурузному полю, позажигать свет в окошках «хрущевок»-новостроек, почитать стихи у памятника Маяковскому, помериться ростом с любимыми литературными героями, поразглядывать фотографии своих ровесников из 1960-х.
		p Чтобы полнее погрузиться в «оттепель» и почувствовать дух времени, библиотека предлагает детям и взрослым, любителям и специалистам разнообразную программу развлечений и мероприятий на время работы выставки, в том числе:
		ul
			li творческий вечер Юрия Норштейна, ретроспективу мультипликационных и игровых детских фильмов 1960-х,
			li серию встреч и показов, посвященных творчеству Ф.С. Хитрука;
			li встречу с Денисом Драгунским, который поделится с детьми воспоминаниями о детстве и прокомментирует «Денискины рассказы»;
			li концерт барда Юлия Кима, ретро-вечеринку для стиляг с музыкой и костюмами того времени, клуб авторской
			li песни под руководством Григория Гладкова, вечер битломанов;
			li спектакли для младших и старших подростков о жизни в 1960-е, праздники литературных героев, фестиваль науки и научно-познавательной литературы;
			li круглые столы и лекции о детской литературе «оттепели».





	.content_columns_group
		.content_colum_min
			.content_title СОДЕРЖАНИЕ И РАЗДЕЛЫ ВЫСТАВКИ
			ol
				li
					.content_title «Галерея детских писателей»
					.content_hall Расположение: холл библиотеки
					.content_description
						div При входе в библиотеку можно познакомиться со знаковыми детскими писателями шестидесятых, узнать, как они выглядели, прочитать об их жизни и взять с собой список их лучших книг.
						div Будут представлены следующие писатели: Яков Аким, Кир Булычёв, Валентин Берестов, Александр Волков, Виктор Голявкин, Виктор Драгунский, Борис Заходер, Владислав Крапивин, Николай Носов, Ирина Пивоварова, Софья Прокофьева, Радий Погодин, Святослав Сахарнов, Генрих Сапгир, Роман Сеф, Николай Сладков, Геннадий Снегирёв, Юрий Сотник, Аркадий и Борис Стругацкие, Ирина Токмакова, Эдуард Успенский.
				li
					.content_title Книжная графика оттепели
					.content_hall Расположение: балкон второго этажа
					.content_description
						div Книжная графика «оттепели» характеризуется появлением плеяды новых художников, которые уходят от соцреалистической манеры прошлого периода и ищут новую стилистику. В «детлит» зачастую идут работать авангардные художники, не принимаемые советским «официальным» искусством, например, будущие известные концептуалисты.
						div На выставке можно будет посмотреть работы (оригиналы и иллюстрации в книгах) Эрика Булатова и Олега Васильева, Ильи Кабакова, Геннадия Калиновского, Вениамина Лосина, Евгения Мигунова, Мая Митурича, Светозара Острова, Виктора Пивоварова, Юло Соостера, Виталия Стацинского, Льва Токмакова, Николая Устинова, Виктора Чижикова и других.
						div Научный куратор иллюстративной выставки: Екатерина Ескина, кандидат искусствоведения, сотрудник центра детской книги Библиотеки иностранной литературы
		.content_colum_min
			ol(start='3')
				li
					.content_title
						div Книжная выставка:
						div более 240 книг «оттепели» из фондов РГДБ, РГБ и МГПУ.
					.content_hall Расположение: галерея библиотеки
					.content_description
						div Книжная экспозиция является центром, основой всей «оттепельной» выставки. Произведения писателей, их темы, жанры и стилистика наглядно рассказывают об основных чертах этого исторического периода. Изобилие и многообразие литературы говорит о повышенном интересе общества к ребенку и детскому чтению. Сами книги свидетельствуют о качестве книжной промышленности и полиграфии.
						div На выставке будут представлены книги и периодика 1956-68 годов издания, а также современные переиздания тех же книг или авторов. Часть книг и цветные ксерокопии периодики можно будет свободно полистать.
						div В оформлении экспозиции принимали участие молодые художники-иллюстраторы, оформлявшие книги 1960-х (из серий «Родная речь» и «Как это было» издательства «Самокат», серии «Книги для детей и взрослых» издательства «Теревинф»).
						div Книжная выставка разделена на 8 тематических зон. Каждая зона оформлена своим художником.
						div Кроме основной книжной экспозиции в библиотеке будет представлена еще и небольшая историко-литературоведческая выставка. На ней специалисты по детскому чтению (библиотекари, писатели, научные работники, студенты) смогут ознакомиться с самыми разными материалами (книгами, статьями, библиографическими пособиями), посвященными развитию отечественной детской литературы периода 1950-60-х годов.
		.content_colum_min
			ol(start='4')
				li
					.content_title Игровая интерактивная зона для детей
					.content_hall Расположение: зимний сад
					.content_description
						div В просторном зимнем саду библиотеки дети смогут закрепить все, что узнали на выставке, с помощью игр и визуальных материалов.
						div Мы предлагаем им:
						div побродить по кукурузному полю, на котором, помимо «царицы полей», будут расти детские книжки
						div позажигать свет в окошках «хрущевок»-новостроек, побороться на подушках-ракетах, отправить письмо любимому литературному герою, поиграть в шахматы и другие детские игры, популярные в СССР
						div послушать «сказки по телефону»: подняв трубку старого телефонного аппарата, дети услышат отрывки из лучших литературных произведений
						div сравнить свой рост с ростом любимых персонажей «оттепельных» книг
						div посмотреть на мини-макеты интерьеров того времени, сделанные Анной Десницкой (выставка, посвященная созданию иллюстраций к книге Вадима Фролова «Что к чему»)
						div примерить галстук, протрубить в горн и сфотографироваться с барабаном в пионерском уголке детского оздоровительного лагеря «Поречье» РАН
						div увидеть экспозицию старинных фотографий, сравнить себя с детьми  1960-х годов (экспозиция организована совместно с арт-проектом «Дети Москвы» детского клуба «Пампа Грин»).




	.content_columns_group
		.content_colum
			.content_title
				div ПЛАН КНИЖНОЙ ВЫСТАВКИ:
				div ТЕМЫ, КНИГИ, ПОРЯДОК ОСМОТРА
			ol
				li
					.content_title НЕДАВНЕЕ ПРОШЛОЕ: ВОЙНА
					.content_category Художественная литература.
					.content_authors Авторы: Борис Балтер, Евгений Дубровин, Нина Костерина, Булат Окуджава, Виктор Сёмин, Ирина Токмакова и другие.
					.content_creator Зону оформляет Мария Волохонская.
				li
					.content_title ШКОЛА И СВЕРСТНИКИ
					.content_category Художественная литература.
					.content_authors Авторы: Анатолий Алексин, Александра Бруштейн, Виктор Голявкин, Виктор Драгунский, Владислав Крапивин, Вера Панова, радий Погодин и многие другие.
					.content_creator Зону оформляет Яна Сметанина.
				li
					.content_title ПРИКЛЮЧЕНИЯ И ФАНТАСТИКА
					.content_category Художественная литература.
					.content_authors Авторы: Айзек Азимов, Поль Берна, Рэй Брэдбери, Кир Булычёв, Станислав Лем, Анатолий Рыбаков, Сат-Ок, Братья Стругацкие, Юрий Томин и многие другие.
					.content_creator Зону оформляет Анна Журко.
		.content_colum
			ol(start='4')
				li
					.content_title НОВЫЕ СКАЗОЧНЫЕ ГЕРОИ
					.content_category Художественная литература.
					.content_authors авторы: Джеймс Барри, Ян Бжехва, Дональд Биссет, Александр Волков, Астрид Линдгрен, А. А. Милн, Николай Носов, Джанни Родари, Антуан де Сент-Экзюпери и многие другие.
					.content_creator Зону оформляет Анна Романова.
				li
					.content_title ФИЗИКИ И ЛИРИКИ
					.content_category Стихи и науч-поп.
					.content_authors
						div Лирики: детские стихи (Яков Аким, Агния Барто, Валентин Берестов, Генрих Сапгир, Ирина Пивоварова и др.), а также книги для детей о театре, музыке, живописи.
						div Физики: познавательные книги «оттепели» для юных любителей механики, химии, математики и других точных и естественных наук.
					.content_creator Зону оформляет Анастасия Амирова.
				li
					.content_title ПУТЕШЕСТВИЯ ГЕОГРАФИЧЕСКИЕ И КОСМИЧЕСКИЕ
					.content_category Познавательные книги, нон-фикшн.
					.content_authors рассказы о реальных путешествиях по планете (Жак Ив Кусто «В мире безмолвия», 1957; Тур Хейердал «путешествие на “Кон-Тики”», 1957; Геннадий Снегирёв «Обитаемый остров», 1963 и т.д.) и за ее пределы (Юрий Гагарин «Дорога в космос», 1963; Юрий Гальперин «приключения Белки и Стрелки», 1961 и др.).
					.content_creator Зону оформляет Юлия Бычкова.
	.content_columns_group
		.content_colum
			.content_title ОФОРМЛЕНИЕ И ПРОСТРАНСТВО ВЫСТАВКИ:
			p На выставке разместятся 6 тематических зон: выставка книг, выставка иллюстраций, «галерея детских писателей», историко-библиографическая выставка, а также интерактивная зона для игр и зона отдыха с мягкой мебелью от фирмы Smart balls www.smartballs.ru.
			p Чтобы сделать выставку многоуровневой и вовлечь разные типы аудитории, библиотека привлекла к сотрудничеству современных дизайнеров и архитекторов.
			p Проект и оформление «Интерактивной зоны» и «Галереи детских писателей» – «Ветер Бюро». www.veterburo.ru.
			p Разработка логики пространства, проект книжной галереи – Егор Ларичев.
			p Кроме того, в оформлении пространства книжной выставки принимают участие иллюстраторы детских книг, работавшие с издательствами «Самокат» и «Теревинф».
		.content_colum
			.content_title АУДИТОРИЯ:
			p Выставка переносит детей в то время, когда их бабушки и дедушки были маленькими, знакомит с лучшими книгами той поры, рассказывает о том, как появились люби­­мые герои.
			p Взрослым она предлагает вспомнить книжки, которые они читали, фильмы и мультфильмы, которые они смотрели, выбрать, чем из своего детства они хотят поделиться с детьми и внуками.
			p Для специалистов и любителей, для всех, кто занимается книгой, иллюстрацией, историей и искусством, в библиотеке, кроме основной экспозиции, создана научная историко-библиографическая выставка.
			.content_title БИБЛИОТЕКА:
			p Во время выставки библиотека будет работать в своем обычном режиме. Часть книг, представленных на выставке, и переиздания многих «оттепельных» книг будут доступны в отделах обслуживания читателей.
	.content_text
		div Адрес: Калужская площадь, д. 1
		div 2 минуты от ст. м. «Октябрьская» кольцевой или радиальной линии
		div Часы работы:
		div Понедельник-суббота с 10:00 до 20:00, воскресенье – с 11:00 до 17:00
		div Сайт: www.rgdb.ru