extends ../layout

block title
	title О ВЫСТАВКЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_columns_group
		.content_colum
			.content_title
				div ПЛАН КНИЖНОЙ ВЫСТАВКИ:
				div ТЕМЫ, КНИГИ, ПОРЯДОК ОСМОТРА
			ol
				li
					.content_title НЕДАВНЕЕ ПРОШЛОЕ: ВОЙНА
					.content_category Художественная литература.
					.content_authors Авторы: Борис Балтер, Евгений Дубровин, Нина Костерина, Булат Окуджава, Виктор Сёмин, Ирина Токмакова и другие.
					.content_creator Зону оформляет Мария Волохонская.
				li
					.content_title ШКОЛА И СВЕРСТНИКИ
					.content_category Художественная литература.
					.content_authors Авторы: Анатолий Алексин, Александра Бруштейн, Виктор Голявкин, Виктор Драгунский, Владислав Крапивин, Вера Панова, радий Погодин и многие другие.
					.content_creator Зону оформляет Яна Сметанина.
				li
					.content_title ПРИКЛЮЧЕНИЯ И ФАНТАСТИКА
					.content_category Художественная литература.
					.content_authors Авторы: Айзек Азимов, Поль Берна, Рэй Брэдбери, Кир Булычёв, Станислав Лем, Анатолий Рыбаков, Сат-Ок, Братья Стругацкие, Юрий Томин и многие другие.
					.content_creator Зону оформляет Анна Журко.
		.content_colum
			ol(start='4')
				li
					.content_title НОВЫЕ СКАЗОЧНЫЕ ГЕРОИ
					.content_category Художественная литература.
					.content_authors авторы: Джеймс Барри, Ян Бжехва, Дональд Биссет, Александр Волков, Астрид Линдгрен, А. А. Милн, Николай Носов, Джанни Родари, Антуан де Сент-Экзюпери и многие другие.
					.content_creator Зону оформляет Анна Романова.
				li
					.content_title ФИЗИКИ И ЛИРИКИ
					.content_category Стихи и науч-поп.
					.content_authors
						div Лирики: детские стихи (Яков Аким, Агния Барто, Валентин Берестов, Генрих Сапгир, Ирина Пивоварова и др.), а также книги для детей о театре, музыке, живописи.
						div Физики: познавательные книги «оттепели» для юных любителей механики, химии, математики и других точных и естественных наук.
					.content_creator Зону оформляет Анастасия Амирова.
				li
					.content_title ПУТЕШЕСТВИЯ ГЕОГРАФИЧЕСКИЕ И КОСМИЧЕСКИЕ
					.content_category Познавательные книги, нон-фикшн.
					.content_authors рассказы о реальных путешествиях по планете (Жак Ив Кусто «В мире безмолвия», 1957; Тур Хейердал «путешествие на “Кон-Тики”», 1957; Геннадий Снегирёв «Обитаемый остров», 1963 и т.д.) и за ее пределы (Юрий Гагарин «Дорога в космос», 1963; Юрий Гальперин «приключения Белки и Стрелки», 1961 и др.).
					.content_creator Зону оформляет Юлия Бычкова.