extends ../layout

block title
	title О ВЫСТАВКЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_title ВЕЛИКАЯ ОТЕЧЕСТВЕННАЯ ВОЙНА 1941-1945: ОТКРЫВАЯ СТРАНИЦЫ ДЕТСКОЙ ЛИТЕРАТУРЫ
	.content_text
		p Детские книги многое могут рассказать о своём времени. Их темы, их облик, их тон удивительно точно отражают культурную среду и общественную ситуацию, в которых они создавались. Мы убедились в этом, когда работали над первой интерактивной выставкой из цикла «Открывая страницы детской литературы». Представленные на ней книги 50-60-х годов позволили нам получить достоверный слепок эпохи «оттепели».
		p С детскими книгами, которые выходили во время войны — с июня 1941 по май 1945 года, всё ещё удивительней. О многом говорит сам факт их существования, их внешний вид. Они издавались, несмотря на дефицит бумаги, краски, рабочих рук и жизненных сил. Они выходили небольшими (для практики книгоиздания в СССР) тиражами, в блёклых бумажных обложках уменьшенного формата. Но всё-таки выходили. Переиздавалась русская классика (Пушкин, Гоголь, народные сказки) — чтобы сохранить связь с историей, родной страной и родным языком; зарубежная детская литература (Андерсен, Жюль Верн, английские песенки) — как будто для того, чтобы в ужасе мировой катастрофы сохранить истинную картину цивилизации. Выходили практические пособия по умению выжить в новых страшных условиях («Чем помочь обороне») и написанные по горячим следам военные повести для детей и подростков («Девочка из города» Любови Воронковой впервые увидела свет в 1943 году). Самое удивительное — несмотря ни на что, издавались весёлые, беззаботные детские книги, оставляя среди хаоса и разрушения место радости и игре.
		p В этом юбилейном году мы решили не ограничиваться книгами времён Великой Отечественной, нам захотелось увидеть, как менялся способ разговора о войне с ребёнком за прошедшие семь десятилетий. Деление это во многом условное, однако позволяющее заметить некоторые характерные для разных периодов черты: иногда на первом плане был героизм, иногда — неприглядность военных будней и нелепость человеческой смерти, иногда события войны превращались в преподанный историей и пройденный урок, иногда — в повод для новых размышлений и переживаний. В экспозиции в свободном доступе будут представлены детские книги о Второй мировой и Великой Отечественной войнах, изданные в последние годы, — с их помощью можно попробовать разобраться, каким образом мы сегодня разговариваем с детьми о нашей истории.
		p Мы попытались рассказать детям о войне через судьбы и свидетельства отдельных людей. Любая война — это нарушенный порядок вещей, искажённый, перевёрнутый мир. Кроме книжной экспозиции, мы сконструировали особую зону «военных историй», в центре которой — письма с фронта, старые фотографии и несколько сюжетов (документальных и художественных) из жизни людей. Рассказать их мы попросили художников, занимающихся комиксом и документальным рисунком. Из лаконичных рисованных историй дети и подростки смогут узнать о том, как ушёл на войну детский писатель Аркадий Гайдар, о том, что записала в блокадном дневнике Таня Савичева, о том, почему одиннадцатилетний Иван из повести Владимира Богомолова был для Советской Армии незаменимым разведчиком и как жилось Пете Ниточкину — герою рассказов Виктора Конецкого — в тылу.
		p Реальные жизненные истории ветеранов можно будет также послушать: интернет-журнал «Who Are They Magazine» предоставит нам аудиозаписи и фотографии людей, имевших к Великой Отечественной войне непосредственное отношение (по материалам проекта «Я горжусь тобой»).
	.content_title ВМЕСТЕ С НАМИ ЭТУ ВЫСТАВКУ ДЕЛАЛИ:
	.content_text
		ul
			li Мастерская «Ветер Бюро»
			li Who Are They Magazine
			li Московский педагогический государственный университет
			li Государственная публичная историческая библиотека России
	.content_title ПРИГЛАШЕННЫЕ ХУДОЖНИКИ:
	.content_text
		ul
			li Аскольд Акишин
			li Екатерина Даугель-Дауге
			li Алексей Иорш
			li Ольга Лаврентьева
			li Алексей Трошин
			li Павел Федорищев