extends ../layout

block title
	title О ВЫСТАВКЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_title ВЕЛИКАЯ ОТЕЧЕСТВЕННАЯ ВОЙНА 1941-1945: ОТКРЫВАЯ СТРАНИЦЫ ДЕТСКОЙ ЛИТЕРАТУРЫ ЧАСТЬ 2
	.content_text
		p Судьбы литературных произведений бывают не менее удивительны и сложны, чем судьбы людей. Особенно если это произведения, написанные или изданные во время войны. Иные из них пережили своё время — как пьеса «Дракон» Евгения Шварца, продиктованная неприятием фашизма, но в итоге ставшая литературным зеркалом любого тоталитарного режима. Иные, напротив, были рождены в смятении жестокого времени — и впоследствии уже никогда не читались так, как в годы войны («Одолеем Бармалея!» Корнея Чуковского). Некоторые прямо отражают страшную военную реальность, свидетельствуют о ней — как дневник 14-летней Анны Франк. Некоторые — уводят из реального мира в прекрасную волшебную сказку («Двенадцать месяцев» Самуила Маршака, «Маленький принц» Антуана де Сент-Экзюпери).
		p На нашей выставке поместилось всего одиннадцать книг, но о каждой мы рассказываем историю: историю автора и его жизни во время войны, историю создания книги и её выхода в свет, историю её дальнейшего (послевоенного) бытования. Мы предлагаем посетителям не просто окинуть взглядом обложки детских книг 1941-1945 годов, не просто узнать их сюжеты, но проникнуть в суть каждой: понять, какое время, какое усилие, и — главное — какой человек стоит за этими страницами.
		p Кроме книжной экспозиции, мы представляем выставку иллюстраций к произведениям Альберта Лиханова о Великой Отечественной войне и особую зону «военных историй». Их для нас рассказывают современные художники, занимающиеся комиксом и документальным рисунком. С их помощью дети и подростки смогут узнать о том, как ушёл на войну детский писатель Аркадий Гайдар, о том, что записала в блокадном дневнике Таня Савичева, о том, почему одиннадцатилетний Иван из повести Владимира Богомолова был для Красной Армии незаменимым разведчиком.
	.content_title ВМЕСТЕ С НАМИ ЭТУ ВЫСТАВКУ ДЕЛАЛИ:
	.content_text
		ul
			li Мастерская «Ветер Бюро»
			li Государственная библиотека иностранной литературы
			li Государственная публичная историческая библиотека России
	.content_title ПРИГЛАШЕННЫЕ ХУДОЖНИКИ:
	.content_text
		ul
			li Аскольд Акишин
			li Екатерина Даугель-Дауге
			li Алексей Иорш
			li Ольга Лаврентьева
			li Алексей Трошин
			li Павел Федорищев