extends ../layout

block title
	title МЕРОПРИЯТИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/events.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/events.js' + version)

block content
	.events_column
		.events_group
			.events_group_title ДЕТСКИЕ ТЕМАТИЧЕСКИЕ ПРАЗДНИКИ, СПЕКТАКЛИ, ВЕЧЕРИНКИ
			.events_block
				.event_item
					.event_title Открытие выставки: спектакль «Москва. Шестидесятые»
					.event_dates_block
						.event_date 11.10 в 16:00
					.event_hall киноконцертный зал
					.event_description Увлекательное представление с небольшими познавательными отступлениями. Театр исторического костюма «Ретрообраз» расскажет о модных веяниях, политических явлениях и общественной жизни конца 1950-х – начала 1970-х годов. Перед нами пройдут стиляги и иностранные гости Фестиваля молодежи и студентов, молодожены из новостроек в Черемушках, энтузиасты с Братской ГЭС и любители поэзии из Политехнического.
					.event_age 10+

				.event_item
					.event_title Карлсон собирает друзей
					.event_dates_block
						.event_date 19.10 в 13:30
					.event_hall встреча в интерактивной зоне
					.event_description Праздничная программа, посвященная героям А. Линдгрен. Тематические мероприятия, игры, литературные мастер-классы
					.event_age 5+

				.event_item
					.event_title Муми-день
					.event_dates_block
						.event_date 05.11 в 12:00
					.event_hall встреча в интерактивной зоне
					.event_description Приурочен к 100-летию со дня рождения Туве Янссон. Тематические мероприятия, игры, литературные мастер-классы
					.event_age 5 – 9 лет

				.event_item
					.event_title День науки в РГДБ
					.event_dates_block
						.event_date 15.11 – весь день
						.event_date 16.11 – весь день
					.event_hall
					.event_description Научный фестиваль для детей и взрослых. Мероприятия, игры и мастер-классы, посвященные научным открытиям и дисциплинам «оттепельного» времени. Организатор – «Умная Москва»
					.event_age 6+

				.event_item
					.event_title Вечеринка для стиляг
					.event_dates_block
						.event_date 22.11 в 17:00
					.event_hall интерактивная зона
					.event_description Мастер-класс, посвященный моде и макияжу 1960-х, а после – танцевальная вечеринка с хитами «оттепельного» времени для младших и старших подростков. Совместно с Театром исторического костюма «Ретрообраз»
					.event_age 10+

				.event_item
					.event_title Музыкально-поэтический спектакль «Капель»
					.event_dates_block
						.event_date 22.11 в 16:00
					.event_hall киноконцертный зал
					.event_description Алиса Гребенщикова читает стихи культовых  поэтов 1960-х: Б. Ахмадулиной, Р. Рождественнского и Р. Казаковой. Юлия Волкова, исполняет песни из репертуара М. Кристаллинской, А. Герман, К. Шульженко
					.event_age Семейное посещение, 12+


		.events_group
			.events_group_title ВЗРОСЛЫЙ ЛЕКТОРИЙ
			.events_block

				.event_item
					.event_title Цикл лекций «Детская литература периода «хрущевской оттепели»
					.event_dates_block
						.event_date 07.11 и 14.11 в 18:00
					.event_hall конференц-зал
					.event_description Читает Ирина Николаевна Арзамасцева, доктор филологических наук, профессор
					.event_age Взрослые, специалисты по детскому чтению

				.event_item
					.event_title Круглый стол «Детская литература „оттепели“ – верно ли такое определение?»
					.event_dates_block
						.event_date 13.11 в 16:00
					.event_hall конференц-зал
					.event_description
						div Ведущий: Илья Бернштейн, редактор издательств «Самокат» и «Теревинф».
						div Гости: эксперты, писатели, издатели, историки литературы
					.event_age Взрослые, специалисты по детскому чтению

				.event_item
					.event_title Круглый стол «Фантастическая литература в период оттепели»
					.event_dates_block
						.event_date 20.11 в 16:00
					.event_hall конференц-зал
					.event_description
						div Ведущий: Алексей Копейкин, главный редактор сайта о детской литературе «Библиогид».
						div Гости: писатели-фантасты (детские и взрослые), издатели, историки литературы
					.event_age Взрослые, специалисты по детскому чтению


		.events_group
			.events_group_title КИНОПОКАЗЫ И ПОКАЗЫ ДИАФИЛЬМОВ
			.events_block

				.event_item
					.event_title «Добро пожаловать, или Посторонним вход воспрещен» Реж. Э. Климов, 1964 год, 74 мин.
					.event_dates_block
						.event_date 19.10 в 15:00
					.event_hall киноконцертный зал
					.event_description Сдвоенный показ с перерывом
					.event_age 10+

				.event_item
					.event_title «Республика ШКИД» Реж. Г. Полока, 1966 год, 103 мин.
					.event_dates_block
						.event_date 19.10 в 16:30
					.event_hall киноконцертный зал
					.event_description Сдвоенный показ с перерывом
					.event_age 10+

				.event_item
					.event_title «Человек-амфибия» Реж. В. Чеботарев и Г. Казанский, 1961 год, 95 мин.
					.event_dates_block
						.event_date 16.11 в 15:00
					.event_hall киноконцертный зал
					.event_description Сдвоенный показ с перерывом
					.event_age 10+

				.event_item
					.event_title «Последний дюйм» Реж. Т. Вульфович и Н. Курихин, 1958 год, 89 мин.
					.event_dates_block
						.event_date 16.11 в 17:00
					.event_hall киноконцертный зал
					.event_description Сдвоенный показ с перерывом
					.event_age 10+

				.event_item
					.event_title «Иваново детство» Реж. А. Тарковский, 1962 год, 96 мин.
					.event_dates_block
						.event_date 23.11 в 15:00
					.event_hall киноконцертный зал
					.event_description Сдвоенный показ с перерывом
					.event_age 10+

				.event_item
					.event_title «Сережа» Реж. Г. Данелия, И. Таланкин, 1960 год, 80 мин.
					.event_dates_block
						.event_date 23.11 в 17:00
					.event_hall киноконцертный зал
					.event_description Сдвоенный показ с перерывом
					.event_age 10+

				.event_item
					.event_title «ДИАвечера»
					.event_dates_block
						.event_date 15.10, 22.10, 29.10, 03.11, 05.11, 06.11, 12.11, 19.11 в 17:00
					.event_hall комната 216
					.event_description Показы диафильмов 1950-1960-х с экраном-простыней и чайком с сушками
					.event_age 4+




	.events_column
		.events_group
			.events_group_title ЭКСКУРСИИ И КВЕСТЫ ПО ВЫСТАВКЕ «ПОЛДЕНЬ, ХХ ВЕК»
			.events_block

				.event_item
					.event_title Маленькое путешест­вие в детство наших бабу­шек
					.event_dates_block
						.event_date 12.10, 19.10, 26.10, 02.11, 09.11, 16.11, 23.11 в 12:00
					.event_hall встреча в вестибюле
					.event_description Экскурсия-путешествие по выставке
					.event_age 19.10, 26.10, 02.11, 09.11 – по предварительной записи 5 – 7 лет

				.event_item
					.event_title Полдень, ХХ век
					.event_dates_block
						.event_date 12.10, 19.10, 26.10, 02.11, 09.11, 16.11, 23.11 в 15:00
					.event_hall встреча в вестибюле
					.event_description Экскурсия-квест по выставке
					.event_age 8 – 12 лет

				.event_item
					.event_title Индивидуальное путешествие по выставке
					.event_dates_block
						.event_date Самостоятельно, доступно всегда
					.event_hall
					.event_description Игровой путеводитель с заданиями, сертификат «путешественника во времени»
					.event_age Дети с родителями, подростки

				.event_item
					.event_title Смартфонная квест-бродилка
					.event_dates_block
						.event_date Самостоятельно, доступно всегда
					.event_hall
					.event_description Игра-экскурсия, в которой вы проходите весь маршрут по территории выставки и узнаете много нового и интересного, получая задания и загадки на свой телефон или планшет. Совместно с проектом «Ходилки Бродилки»
					.event_age Дети с родителями, подростки

		.events_group
			.events_group_title МАСТЕР-КЛАССЫ И СТУДИИ
			.events_group_description Предварительная запись по телефону +7 (915) 391-18-69 по будням с 11:00 до 18:00. Или письмо с темой «Полдень, 20 век» на адрес art@rgdb.ru
			.events_block

				.event_item
					.event_title «Все кувырком»
					.event_dates_block
						.event_date 11.10 в 11:00 и в 15:00
					.event_hall комната сказок
					.event_description Театрализованное литературное занятие по произведениям Дональда Биссета. Студия «Терем-теремок»
					.event_age 4+

				.event_item
					.event_title «Творческая мастерская Карандаша и Само­делкина»
					.event_dates_block
						.event_date 14.10, 28.10 в 16:00
						.event_date 16.10, 30.10 в 17:00
					.event_hall комната 313
					.event_description Творческое занятие по книге Ю. Дружкова. Студия «Золотой ключик»
					.event_age По предварительной записи, 6+

				.event_item
					.event_title «Баранкин, будь человеком!»
					.event_dates_block
						.event_date 17.10 в 11:00
						.event_date 02.11 в 14:00
					.event_hall комната 313
					.event_description Литературное занятие по повести Валерия Медведева
					.event_age По предварительной записи, 8+

				.event_item
					.event_title «Волшебник Изумруд­ного города»
					.event_dates_block
						.event_date 18.10, 08.11 в 17:00
					.event_hall интерактивная зона
					.event_description Музыкальная интерактивная сказка по мотивам книги А.М. Волкова
					.event_age 6+

				.event_item
					.event_title «Приключения Чипо­ллино»
					.event_dates_block
						.event_date 21.10 в 16:00
						.event_date 23.10 в 17:00
					.event_hall комната 313
					.event_description Творческое познавательное занятие по книге Дж. Родари. Студия «Золотой ключик»
					.event_age По предварительной записи, 6+

				.event_item
					.event_title «Прелестные приключения»
					.event_dates_block
						.event_date 22.10 в 12:00
						.event_date 25.10 в 11:00 и 15:00
						.event_date 02.11 в 14:00
					.event_hall комната сказок
					.event_description Театрализованное занятие по мотивам сказки Булата Окуджавы
					.event_age По предварительной записи, 4+

				.event_item
					.event_title «Путешествие на „Кон-Тики“»
					.event_dates_block
						.event_date 25.10 в 12:00
					.event_hall комната 220
					.event_description Литературное занятие по книге Тура Хейердала
					.event_age 8+

				.event_item
					.event_title Путешествие по «Денискиным рассказам»
					.event_dates_block
						.event_date 30.10 в 16:00
					.event_hall комната 311
					.event_description Литературное занятие по произ­ведениям Виктора Драгунского
					.event_age По предварительной записи, 7+

				.event_item
					.event_title «День рождения Алисы»
					.event_dates_block
						.event_date 01.11, 08.11 в 11:00
						.event_date 03.11 в 15:30
					.event_hall комната 313
					.event_description Литературное занятие по творчеству Кира Булычева
					.event_age 8+

				.event_item
					.event_title «Мир будущего глазами прошлого»
					.event_dates_block
						.event_date 08.11 в 15:00
					.event_hall комната 313
					.event_description Литературное занятие по фантастике
					.event_age 8+

				.event_item
					.event_title «До свидания, мальчики!»
					.event_dates_block
						.event_date 08.11 в 16:00
					.event_hall конференц-зал
					.event_description Заседание дискуссионного клуба «Диалогос». Просмотр и обсуждение фильма «До свидания, мальчики!» по повести Бориса Балтера
					.event_age 12+


		.events_group
			.events_group_title «ХИТРУКОВСКИЕ ЧЕТВЕРГИ»
			.events_block

				.event_item
					.event_title История одного мультипликатора: Федор Хитрук
					.event_dates_block
						.event_date 23.10 в 19:00
					.event_hall киноконцертный зал
					.event_description О великом мультипликаторе и друге рассказывает Юрий Норштейн и приглашенные им ученики, соратники, родные и друзья Федора Савельевича
					.event_age Семейное посещение, взрослые

				.event_item
					.event_title Нон-стоп показ, посвященный Федору Савельевичу Хитруку
					.event_dates_block
						.event_date 30.10, 06.11 в 16:00 – 22:00
					.event_hall киноконцертный зал
					.event_description В программе: мультфильмы, снятые Федором Савельевичем, а также оте­чественные и зарубежные документальные фильмы о нем
					.event_age Cемейный просмотр, для взрослых, 6+

				.event_item
					.event_title Творческий вечер Сергея Алимова
					.event_dates_block
						.event_date 13.11 в 19:00
					.event_hall киноконцертный зал
					.event_description Художник Сергей Алимов рассказывает о своей работе в мультипликации и об эпохе 1960-х годов
					.event_age Семейное посещение, взрослые

				.event_item
					.event_title Вечер воспоминаний о Федоре Хитруке
					.event_dates_block
						.event_date 20.11 в 19:00
					.event_hall киноконцертный зал
					.event_description Модератор – киновед Юрий Михайлин. Архивные материалы, эксклюзивные рассказы, редкие кадры
					.event_age Семейное посещение, взрослые



	.events_column
		.events_group
			.events_group_title ВСТРЕЧИ С ПИСАТЕЛЯМИ
			.events_block

				.event_item
					.event_title Встреча с Денисом Драгунским
					.event_dates_block
						.event_date 12.10 в 13:00
					.event_hall комната 229
					.event_description Писатель расскажет детям о временах, когда его отец Виктор Драгунский писал «Денискины рассказы», и ответит на главный вопрос: «То, что написано в „Денискиных рассказах“, это правда? Это на самом деле было?» На встрече будет представлена книга «Денискины рассказы: о том, как все было на самом деле» – знакомые рассказы Виктора Драгунского с комментарием Дениса Драгунского. Вместе с издательством «Редакция Елены Шубиной»
					.event_age 6+


		.events_group
			.events_group_title КОНЦЕРТЫ И МУЗЫКАЛЬНЫЕ МАСТЕР-КЛАССЫ
			.events_block

				.event_item
					.event_title Концерт Юлия Кима: «Оттепель. Бардовская песня»
					.event_dates_block
						.event_date 15.10 в 18:00
					.event_hall киноконцертный зал
					.event_description Классик бардовской песни и участник диссидентского движения в СССР расскажет о 1960-х и исполнит свои песни того времени
					.event_age Семейное посещение

				.event_item
					.event_title Концерт «Споемте, друзья»
					.event_dates_block
						.event_date 18.10 в 18:00
					.event_hall киноконцертный зал
					.event_description Самые популярные песни Василия Соловьева-Седого в исполнении солистов Академического Большого Хора РГГУ под управлением Бориса Тараканова. Зрители увидят кадры из фильмов, в которых звучат песни Василия Соловьева-Седого, и запись с воспоминаниями композитора
					.event_age Семейное посещение, 6+

				.event_item
					.event_title Вечер Юрия Визбора
					.event_dates_block
						.event_date 29.10 в 17:00
					.event_hall киноконцертный зал
					.event_description Встреча клуба авторской песни под руководством Григория Гладкова
					.event_age 12+

				.event_item
					.event_title Мастер-класс по терменвоксу
					.event_dates_block
						.event_date 13.11 в 17:00
					.event_hall киноконцертный зал
					.event_description
						div Ведущий – музыкант-мультиинструменталист Сергей Заславский.
						div На мастер-классе дети и взрослые узнают о том, как на терменвоксе можно: управлять антеннами двумя руками и менять свойства звуков; подражать голосам человека и животных, создавать и имитировать индустриальные звуки; выразить свои собственные эмоции; играть пьесы композиторов-классиков и детские песни.
						div Желающие смогут также попробовать свои силы на терменвоксе и стать «дирижерами-музыкантами» невидимого электромагнитного поля
					.event_age 6+

				.event_item
					.event_title Вечер битломанов
					.event_dates_block
						.event_date 15.11 в 15:00
					.event_hall киноконцертный зал
					.event_description Школьные и клубные группы играют The Beatles. Живая музыка, профессиональные ведущие и выставка книг, посвященная группе The Beatles
					.event_age 10+




		.events_group
			.events_group_title МУЛЬТИПЛИКАЦИОННАЯ ПРОГРАММА (МУЛЬТФИЛЬМ + ЗАНЯТИЕ)
			.events_group_description Подготовлена программным директором «Большого фестиваля мультфильмов» Марией Терещенко
			.events_block

				.event_item
					.event_title Мультпоказ 1 «Тогда и сейчас: уроки непослушания»
					.event_dates_block
						.event_date 11.10 в 17:00
					.event_hall комната 313
					.event_description Мультпоказ: сборник старых и новых историй про озорных, непослушных и плохо воспитанных детей.
					.event_age 6+

				.event_item
					.event_title Беседа 1 «От книжки к мультфильму»
					.event_dates_block
						.event_date 11.10 в 18:00
					.event_hall комната 313
					.event_description
						div Беседа о том, как книжка превращается в мультфильм, кто такие «персонажи», чьими голосами они разговаривают и зачем поют песенки, а также о том, зачем взрослые художники рисуют иногда, как дети.
						div На примере мультфильма «Винни-Пух» Федора Хитрука
					.event_age 6+

				.event_item
					.event_title Мультпоказ 2 «Королевские зайцы»
					.event_dates_block
						.event_date 18.10 в 17:00
					.event_hall комната 313
					.event_description Мультпоказ: сборник старых и современных мультфильмов о том, как щедрые и отзывчивые всегда оказываются в выигрыше, а жадные и нечестные остаются ни с чем.
					.event_age 6+

				.event_item
					.event_title Беседа 2 «Оживающие рисунки»
					.event_dates_block
						.event_date 18.10 в 18:00
					.event_hall комната 313
					.event_description Беседа о том, как и где рисуются мультфильмы, кто оживляет рисунки и каким образом, а также о том, как режиссер заставляет зрителя сопереживать героям, злиться на них или смеяться над ними. На примере мульт­фильма Льва Мильчина «Свинья-копилка»
					.event_age 6+

				.event_item
					.event_title Мультпоказ 3 «Тогда и сейчас: классные истории»
					.event_dates_block
						.event_date 25.10 в 17:00
					.event_hall комната 216
					.event_description Мультпоказ: сборник старых и новых мультфильмов о школе, учебе и прочих неприятностях.
					.event_age 6+

				.event_item
					.event_title Беседа 3 «Говорящие куклы»
					.event_dates_block
						.event_date 25.10 в 18:00
					.event_hall комната 216
					.event_description Беседа о мультипликационных куклах: из чего их делают, как заставляют двигаться и зачем нужна кукольная анимация, а также о том, зачем нужны грустные мультфильмы. На примере работы Вадима Курчевского «Мой зеленый крокодил»
					.event_age 6+


