extends ../layout

block title
	title МЕРОПРИЯТИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/events.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/events.js' + version)

block content
	.coontent_title МЕРОПРИЯТИЯ
	.events_column
		.events_group
			.events_group_title ДЕТСКИЕ ТЕМАТИЧЕСКИЕ ПРАЗДНИКИ, СПЕКТАКЛИ, ВЕЧЕРИНКИ
			.events_block
				.event_item
					.event_title Открытие выставки: спектакль «Москва. Шестидесятые»
					.event_dates_block
						.event_date 11.10 в 16:00
					.event_hall киноконцертный зал
					.event_description Увлекательное представление с небольшими познавательными отступлениями. Театр исторического костюма «Ретрообраз» расскажет о модных веяниях, политических явлениях и общественной жизни конца 1950-х – начала 1970-х годов. Перед нами пройдут стиляги и иностранные гости Фестиваля молодежи и студентов, молодожены из новостроек в Черемушках, энтузиасты с Братской ГЭС и любители поэзии из Политехнического.
					.event_age 10+

				.event_item
					.event_title Карлсон собирает друзей
					.event_dates_block
						.event_date 19.10 в 13:30
					.event_hall встреча в интерактивной зоне
					.event_description Праздничная программа, посвященная героям А. Линдгрен. Тематические мероприятия, игры, литературные мастер-классы
					.event_age 5+

				.event_item
					.event_title Муми-день
					.event_dates_block
						.event_date 05.11 в 12:00
					.event_hall встреча в интерактивной зоне
					.event_description Приурочен к 100-летию со дня рождения Туве Янссон. Тематические мероприятия, игры, литературные мастер-классы
					.event_age 5 – 9 лет

				.event_item
					.event_title День науки в РГДБ
					.event_dates_block
						.event_date 15.11 – весь день
						.event_date 16.11 – весь день
					.event_hall
					.event_description Научный фестиваль для детей и взрослых. Мероприятия, игры и мастер-классы, посвященные научным открытиям и дисциплинам «оттепельного» времени. Организатор – «Умная Москва»
					.event_age 6+

				.event_item
					.event_title Вечеринка для стиляг
					.event_dates_block
						.event_date 22.11 в 17:00
					.event_hall интерактивная зона
					.event_description Мастер-класс, посвященный моде и макияжу 1960-х, а после – танцевальная вечеринка с хитами «оттепельного» времени для младших и старших подростков. Совместно с Театром исторического костюма «Ретрообраз»
					.event_age 10+

				.event_item
					.event_title Музыкально-поэтический спектакль «Капель»
					.event_dates_block
						.event_date 22.11 в 16:00
					.event_hall киноконцертный зал
					.event_description Алиса Гребенщикова читает стихи культовых  поэтов 1960-х: Б. Ахмадулиной, Р. Рождественнского и Р. Казаковой. Юлия Волкова, исполняет песни из репертуара М. Кристаллинской, А. Герман, К. Шульженко
					.event_age Семейное посещение, 12+




	.events_column
		.events_group
			.events_group_title ЭКСКУРСИИ И КВЕСТЫ ПО ВЫСТАВКЕ «ПОЛДЕНЬ, ХХ ВЕК»
			.events_block

				.event_item
					.event_title Маленькое путешест­вие в детство наших бабу­шек
					.event_dates_block
						.event_date 12.10, 19.10, 26.10, 02.11, 09.11, 16.11, 23.11 в 12:00
					.event_hall встреча в вестибюле
					.event_description Экскурсия-путешествие по выставке
					.event_age 19.10, 26.10, 02.11, 09.11 – по предварительной записи 5 – 7 лет

				.event_item
					.event_title Полдень, ХХ век
					.event_dates_block
						.event_date 12.10, 19.10, 26.10, 02.11, 09.11, 16.11, 23.11 в 15:00
					.event_hall встреча в вестибюле
					.event_description Экскурсия-квест по выставке
					.event_age 8 – 12 лет

				.event_item
					.event_title Индивидуальное путешествие по выставке
					.event_dates_block
						.event_date Самостоятельно, доступно всегда
					.event_hall
					.event_description Игровой путеводитель с заданиями, сертификат «путешественника во времени»
					.event_age Дети с родителями, подростки

				.event_item
					.event_title Смартфонная квест-бродилка
					.event_dates_block
						.event_date Самостоятельно, доступно всегда
					.event_hall
					.event_description Игра-экскурсия, в которой вы проходите весь маршрут по территории выставки и узнаете много нового и интересного, получая задания и загадки на свой телефон или планшет. Совместно с проектом «Ходилки Бродилки»
					.event_age Дети с родителями, подростки


	.events_column
		.events_group
			.events_group_title ВСТРЕЧИ С ПИСАТЕЛЯМИ
			.events_block

				.event_item
					.event_title Встреча с Денисом Драгунским
					.event_dates_block
						.event_date 12.10 в 13:00
					.event_hall комната 229
					.event_description Писатель расскажет детям о временах, когда его отец Виктор Драгунский писал «Денискины рассказы», и ответит на главный вопрос: «То, что написано в „Денискиных рассказах“, это правда? Это на самом деле было?» На встрече будет представлена книга «Денискины рассказы: о том, как все было на самом деле» – знакомые рассказы Виктора Драгунского с комментарием Дениса Драгунского. Вместе с издательством «Редакция Елены Шубиной»
					.event_age 6+


		.events_group
			.events_group_title КОНЦЕРТЫ И МУЗЫКАЛЬНЫЕ МАСТЕР-КЛАССЫ
			.events_block

				.event_item
					.event_title Концерт Юлия Кима: «Оттепель. Бардовская песня»
					.event_dates_block
						.event_date 15.10 в 18:00
					.event_hall киноконцертный зал
					.event_description Классик бардовской песни и участник диссидентского движения в СССР расскажет о 1960-х и исполнит свои песни того времени
					.event_age Семейное посещение

				.event_item
					.event_title Концерт «Споемте, друзья»
					.event_dates_block
						.event_date 18.10 в 18:00
					.event_hall киноконцертный зал
					.event_description Самые популярные песни Василия Соловьева-Седого в исполнении солистов Академического Большого Хора РГГУ под управлением Бориса Тараканова. Зрители увидят кадры из фильмов, в которых звучат песни Василия Соловьева-Седого, и запись с воспоминаниями композитора
					.event_age Семейное посещение, 6+

				.event_item
					.event_title Вечер Юрия Визбора
					.event_dates_block
						.event_date 29.10 в 17:00
					.event_hall киноконцертный зал
					.event_description Встреча клуба авторской песни под руководством Григория Гладкова
					.event_age 12+

				.event_item
					.event_title Мастер-класс по терменвоксу
					.event_dates_block
						.event_date 13.11 в 17:00
					.event_hall киноконцертный зал
					.event_description
						div Ведущий – музыкант-мультиинструменталист Сергей Заславский.
						div На мастер-классе дети и взрослые узнают о том, как на терменвоксе можно: управлять антеннами двумя руками и менять свойства звуков; подражать голосам человека и животных, создавать и имитировать индустриальные звуки; выразить свои собственные эмоции; играть пьесы композиторов-классиков и детские песни.
						div Желающие смогут также попробовать свои силы на терменвоксе и стать «дирижерами-музыкантами» невидимого электромагнитного поля
					.event_age 6+

				.event_item
					.event_title Вечер битломанов
					.event_dates_block
						.event_date 15.11 в 15:00
					.event_hall киноконцертный зал
					.event_description Школьные и клубные группы играют The Beatles. Живая музыка, профессиональные ведущие и выставка книг, посвященная группе The Beatles
					.event_age 10+