extends ../layout

block title
	title РАСПИСАНИЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/schedule.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/schedule.js' + version)

block content
	.schedule_date_block
		.schedule_date_title 11.10 суббота
		.schedule_events
			.event_item
				.event_header
					.event_time 11:00 – 12:30, 15:00 – 16:30
					.event_hall: .inner комната сказок
				.event_title Литературное занятие по книгам Д. Биссета. «Все кувырком»
				.event_age 4+

			.event_item
				.event_header
					.event_time 16:00
					.event_hall: .inner киноконцертный зал
				.event_title Открытие выставки: спектакль «Москва. Шестидесятые».
				.event_age 10+

			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner комната 313
				.event_title Мультипликация. Мультпоказ 1. «Тогда и сейчас: уроки непослушания»
				.event_age

			.event_item
				.event_header
					.event_time 18:00 – 19:00
					.event_hall: .inner комната 313
				.event_title Мультипликация. Беседа 1. «От книжки к мультфильму»
				.event_age 6+


	.schedule_date_block
		.schedule_date_title 12.10 Воскресенье
		.schedule_events

			.event_item
				.event_header
					.event_time 12:00 – 13:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия. «Маленькое путешествие в детство наших бабушек»
				.event_age 5 – 7 лет

			.event_item
				.event_header
					.event_time 13:00 – 14:30
					.event_hall: .inner комната 229
				.event_title Писательские чтения. Встреча с Денисом Драгунским
				.event_age 6+

			.event_item
				.event_header
					.event_time 15:00 – 16:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия-квест. «Полдень, ХХ век»
				.event_age 8 – 12 лет


	.schedule_date_block
		.schedule_date_title 14.10 Вторник
		.schedule_events


			.event_item
				.event_header
					.event_time 16.00 – 18.00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «Творческая мастерская Карандаша и Самоделкина»
				.event_age По предварительной записи. 6+


	.schedule_date_block
		.schedule_date_title 15.10 Среда
		.schedule_events


			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner комната 216
				.event_title Показ диафильмов. «ДИАвечер»
				.event_age 4+

			.event_item
				.event_header
					.event_time 18:00 – 20:00
					.event_hall: .inner киноконцертный зал
				.event_title Музыка. Концерт Ю. Кима
				.event_age Семейное посещение


	.schedule_date_block
		.schedule_date_title 16.10 четверг
		.schedule_events


			.event_item
				.event_header
					.event_time 17:00 – 19:00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «Творческая мастерская Карандаша и Самоделкина»
				.event_age По предварительной записи. 6+


	.schedule_date_block
		.schedule_date_title 17.10 пятница
		.schedule_events


			.event_item
				.event_header
					.event_time 11:00 – 12:00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «Баранкин, будь человеком!»
				.event_age По предварительной записи. 8+


	.schedule_date_block
		.schedule_date_title 18.10 суббота
		.schedule_events


			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner интерактивная зона
				.event_title Литературное занятие. «Волшебник Изумрудного города»
				.event_age 6+

			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner комната 313
				.event_title Мультипликация. Мультпоказ 2. «Королевские зайцы»
				.event_age 6+

			.event_item
				.event_header
					.event_time 18:00 – 19:00
					.event_hall: .inner комната 313
				.event_title Мультипликация. Беседа 2. «Оживающие рисунки»
				.event_age 6+

			.event_item
				.event_header
					.event_time 18:00 – 19:30
					.event_hall: .inner киноконцертный зал
				.event_title Музыка. Концерт песен Василия Соловьева-Седова «Споемте, друзья»
				.event_age Семейное посещение, 6+


	.schedule_date_block
		.schedule_date_title 19.10 воскресенье
		.schedule_events

			.event_item
				.event_header
					.event_time 12:00 – 13:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия. «Маленькое путешествие в детство наших бабушек»
				.event_age По предварительной записи. 5 – 7 лет

			.event_item
				.event_header
					.event_time 13:30 – 16:00
					.event_hall: .inner встреча в интерактивной зоне
				.event_title Праздник. Карлсон собирает друзей
				.event_age 5+

			.event_item
				.event_header
					.event_time 15:00 – 16:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия-квест. «Полдень, ХХ век»
				.event_age 8 – 12 лет

			.event_item
				.event_header
					.event_time 15:00 – 19:00
					.event_hall: .inner киноконцертный зал
				.event_title Сдвоенный кинопоказ. «Добро пожаловать, или Посторонним вход воспрещен», «Республика ШКИД»
				.event_age 10+



	.schedule_date_block
		.schedule_date_title 21.10 вторник
		.schedule_events


			.event_item
				.event_header
					.event_time 16.00 – 18.00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «Приключения Чиполлино». Студия «Золотой ключик»
				.event_age По предварительной записи. 6+


	.schedule_date_block
		.schedule_date_title 22.10 среда
		.schedule_events


			.event_item
				.event_header
					.event_time 12:00 – 13:30
					.event_hall: .inner комната сказок
				.event_title Театрализованное занятие по мотивам сказки Булата Окуджавы. Студия «Летучий корабль»
				.event_age 4+

			.event_item
				.event_header
					.event_time 17.00 – 18.00
					.event_hall: .inner комната 216
				.event_title Показ диафильмов. «ДИАвечер»
				.event_age 4+


	.schedule_date_block
		.schedule_date_title 23.10 четверг
		.schedule_events


			.event_item
				.event_header
					.event_time 17.00 – 19.00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «Приключения Чиполлино». Студия «Золотой ключик» По предварительной записи.
				.event_age 6+

			.event_item
				.event_header
					.event_time 19:00 – 20:00
					.event_hall: .inner киноконцертный зал
				.event_title Мультипликация. Хитруковский цикл. Творческий вечер Юрия Норштейна
				.event_age Семейное посещение, взрослые


	.schedule_date_block
		.schedule_date_title 25.10 суббота
		.schedule_events


			.event_item
				.event_header
					.event_time 11:00 – 12:30, 15:00 – 16:30
					.event_hall: .inner комната сказок
				.event_title Театрализованное занятие по мотивам сказки Булата Окуджавы.  Студия «Терем-теремок»
				.event_age 4+

			.event_item
				.event_header
					.event_time 12:00
					.event_hall: .inner комната 220
				.event_title Литературное занятие. «Путешествие на „Кон-Тики“»
				.event_age 8+

			.event_item
				.event_header
					.event_time 17:00 - 18:00
					.event_hall: .inner комната 216
				.event_title Мультипликация. Мультпоказ 3. «Тогда и сейчас: классные истории»
				.event_age

			.event_item
				.event_header
					.event_time 18:00 – 19:00
					.event_hall: .inner комната 216
				.event_title Мультипликация. Беседа 3. «Говорящие куклы»
				.event_age 6+


	.schedule_date_block
		.schedule_date_title 26.10 воскресенье
		.schedule_events


			.event_item
				.event_header
					.event_time 12:00 – 13:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия. «Маленькое путешествие в детство наших бабушек»
				.event_age По предварительной записи. 5-7 лет

			.event_item
				.event_header
					.event_time 15:00 – 16:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия-квест. «Полдень, ХХ век»
				.event_age 8 – 12 лет


	.schedule_date_block
		.schedule_date_title 28.10 вторник
		.schedule_events


			.event_item
				.event_header
					.event_time 16:00 – 18:00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «Творческая мастерская Карандаша и Самоделкина»
				.event_age По предварительной записи. 6+


	.schedule_date_block
		.schedule_date_title 29.10 среда
		.schedule_events


			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner комната 216
				.event_title Показ диафильмов. «ДИАвечер»
				.event_age 4+

			.event_item
				.event_header
					.event_time 17:00
					.event_hall: .inner киноконцертный зал
				.event_title Музыка. Встреча клуба авторской песни Григория Гладкова Семейное посещение
				.event_age 12+


	.schedule_date_block
		.schedule_date_title 30.10 четверг
		.schedule_events


			.event_item
				.event_header
					.event_time 16:00 – 17:00
					.event_hall: .inner комната 311
				.event_title Литературное занятие по мотивам творчества Виктора Юзефовича Драгунского По предварительной записи.
				.event_age 7+

			.event_item
				.event_header
					.event_time 16:00 - 22:00
					.event_hall: .inner киноконцертный зал
				.event_title Мультипликация. Хитруковский цикл. Нон-стоп показ, посвященный Ф. С. Хитруку
				.event_age Семейный просмотр, для взрослых, 6+

			.event_item
				.event_header
					.event_time 17:00 – 19:00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «Творческая мастерская Карандаша и Самоделкина»
				.event_age По предварительной записи. 6+


	.schedule_date_block
		.schedule_date_title 30.10 четверг
		.schedule_date_s_title санитарный день
		.schedule_events

	.schedule_date_block
		.schedule_date_title 01.11 суббота
		.schedule_date_s_title В этот день в библиотеке проходит Всероссийский фестиваль детской книги
		.schedule_events

			.event_item
				.event_header
					.event_time 11:00 – 12:00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «День рождения Алисы» 8+
				.event_age По предварительной записи. 6+


	.schedule_date_block
		.schedule_date_title 02.11 воскресенье
		.schedule_date_s_title В этот день в библиотеке проходит Всероссийский фестиваль детской книги
		.schedule_events

			.event_item
				.event_header
					.event_time 12:00 – 13:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия. «Маленькое путешествие в детство наших бабушек»
				.event_age По предварительной записи. 5 - 7 лет

			.event_item
				.event_header
					.event_time 14:00 – 15:30
					.event_hall: .inner комната сказок
				.event_title Театрализованное занятие по мотивам сказки Булата Окуджавы
				.event_age По предварительной записи. 4+

			.event_item
				.event_header
					.event_time 14:00 – 15:00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «Баранкин, будь человеком!».
				.event_age По предварительной записи. 8+

			.event_item
				.event_header
					.event_time 15:00 – 16:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия-квест. «Полдень, ХХ век»
				.event_age 8 – 12 лет


	.schedule_date_block
		.schedule_date_title 03.11 понедельник
		.schedule_date_s_title В этот день в библиотеке проходит Всероссийский фестиваль детской книги
		.schedule_events

			.event_item
				.event_header
					.event_time 15:30 – 17:00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «День рождения Алисы»
				.event_age 8+

			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner комната 216
				.event_title Показ диафильмов. «ДИАвечер»
				.event_age 4+


	.schedule_date_block
		.schedule_date_title 05.11 среда
		.schedule_events



			.event_item
				.event_header
					.event_time 12:00 - 14:00
					.event_hall: .inner встреча в интерактивной зоне
				.event_title Праздник. Муми-день
				.event_age 5 – 9 лет

			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner комната 216
				.event_title Показ диафильмов. «ДИАвечер»
				.event_age 4+


	.schedule_date_block
		.schedule_date_title 06.11 четверг
		.schedule_events


			.event_item
				.event_header
					.event_time 16:00 - 22:00
					.event_hall: .inner киноконцертный зал
				.event_title Мультипликация. Хитруковский цикл. Нон-стоп показ, посвященный Федору Савельевичу Хитруку
				.event_age Семейный просмотр, для взрослых, 6+

			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner комната 216
				.event_title Показ диафильмов. «ДИАвечер»
				.event_age 4+


	.schedule_date_block
		.schedule_date_title 07.11 пятница
		.schedule_events


			.event_item
				.event_header
					.event_time 18:00
					.event_hall: .inner конференц-зал
				.event_title Лекция 1. «Детская литература периода «хрущевской оттепели»
				.event_age Для взрослых, для специалистов, 16+


	.schedule_date_block
		.schedule_date_title 08.11 суббота
		.schedule_events


			.event_item
				.event_header
					.event_time 11:00 – 12:00
					.event_hall: .inner комната 313
				.event_title Литературное занятие. «День рождения Алисы»
				.event_age 8+

			.event_item
				.event_header
					.event_time 15:00 – 16:30
					.event_hall: .inner комната 313
				.event_title Занятие по фантастике. «Мир будущего глазами прошлого»
				.event_age 8+

			.event_item
				.event_header
					.event_time 16:00 – 19:00
					.event_hall: .inner конференц-зал
				.event_title Заседание дискуссионного клуба «Диалогос». «До свидания, мальчики!»
				.event_age 12+

			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner интерактивная зона
				.event_title Литературное занятие. «Волшебник Изумрудного города»
				.event_age 6+


	.schedule_date_block
		.schedule_date_title 09.11 воскресенье
		.schedule_events


			.event_item
				.event_header
					.event_time 12:00 – 13:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия. «Маленькое путешествие в детство наших бабушек»
				.event_age По предварительной записи. 5 – 7 лет

			.event_item
				.event_header
					.event_time 15:00 – 16:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия-квест. «Полдень, ХХ век»
				.event_age 8 – 12 лет

			.event_item
				.event_header
					.event_time 15:00 – 16:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия-квест. «Полдень, ХХ век»
				.event_age 8 – 12 лет


	.schedule_date_block
		.schedule_date_title 12.11 среда
		.schedule_events


			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner комната 216
				.event_title Показ диафильмов. «ДИАвечер»
				.event_age 4+


	.schedule_date_block
		.schedule_date_title 13.11 четверг
		.schedule_events


			.event_item
				.event_header
					.event_time 16:00
					.event_hall: .inner конференц-зал
				.event_title Круглый стол. «Детская литература „оттепели“ – верно ли такое определение?»
				.event_age Для взрослых, для специалистов, 16+

			.event_item
				.event_header
					.event_time 17:00 – 19:00
					.event_hall: .inner киноконцертный зал
				.event_title Музыка. Мастер-класс по терменвоксу
				.event_age 6+

			.event_item
				.event_header
					.event_time 19:00
					.event_hall: .inner киноконцертный зал
				.event_title Мультипликация. Хитруковский цикл. Творческий вечер Сергея Алимова
				.event_age Семейное посещение, взрослые


	.schedule_date_block
		.schedule_date_title 14.11 пятница
		.schedule_events

			.event_item
				.event_header
					.event_time 18:00
					.event_hall: .inner конференц-зал
				.event_title Лекция 2. «Детская литература периода «хрущевской оттепели»
				.event_age Для взрослых, для специалистов, 16+


	.schedule_date_block
		.schedule_date_title 15.11 суббота
		.schedule_events


			.event_item
				.event_header
					.event_time ВЕСЬ ДЕНЬ
					.event_hall: .inner  комната 216, киноконцертный зал, малый выставочный зал
				.event_title Праздник. День науки в РГДБ
				.event_age 6+

			.event_item
				.event_header
					.event_time 15:00
					.event_hall: .inner киноконцертный зал
				.event_title Музыка. Вечер битломанов
				.event_age 6+


	.schedule_date_block
		.schedule_date_title 16.11 воскресенье
		.schedule_events

			.event_item
				.event_header
					.event_time ВЕСЬ ДЕНЬ
					.event_hall: .inner комната 216, киноконцертный зал, малый выставочный зал
				.event_title Праздник. День науки в РГДБ
				.event_age 6+

			.event_item
				.event_header
					.event_time 12:00 – 13:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия. «Маленькое путешествие в детство наших бабушек»
				.event_age 5 – 7 лет

			.event_item
				.event_header
					.event_time 15:00 – 16:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия-квест. «Полдень, ХХ век»
				.event_age 8 – 12 лет

			.event_item
				.event_header
					.event_time 15:00 – 19:00
					.event_hall: .inner киноконцертный зал
				.event_title Сдвоенный кинопоказ. «Человек-амфибия», «Последний дюйм»
				.event_age 10+


	.schedule_date_block
		.schedule_date_title 19.11 среда
		.schedule_events

			.event_item
				.event_header
					.event_time 17:00 – 18:00
					.event_hall: .inner комната 216
				.event_title Показ диафильмов. «ДИАвечер»
				.event_age 4+


	.schedule_date_block
		.schedule_date_title 20.11 четверг
		.schedule_events


			.event_item
				.event_header
					.event_time 16:00
					.event_hall: .inner конференц-зал
				.event_title Круглый стол. «Фантастическая литература в период оттепели»
				.event_age Для взрослых, для специалистов, 16+

			.event_item
				.event_header
					.event_time 19:00
					.event_hall: .inner киноконцертный зал
				.event_title Мультипликация. Хитруковский цикл. Лекция киноведа Юрия Михайлина
				.event_age Семейное посещение, взрослые


	.schedule_date_block
		.schedule_date_title 22.11 суббота
		.schedule_events


			.event_item
				.event_header
					.event_time 16:00
					.event_hall: .inner киноконцертный зал
				.event_title Музыкально-поэтический спектакль «Капель»
				.event_age Семейное посещение, 12+

			.event_item
				.event_header
					.event_time 17:00
					.event_hall: .inner интерактивная зона
				.event_title Праздник. «Вечеринка для стиляг»
				.event_age 10+


	.schedule_date_block
		.schedule_date_title 23.11 воскресенье
		.schedule_events

			.event_item
				.event_header
					.event_time 12:00 – 13:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия. «Маленькое путешествие в детство наших бабушек»
				.event_age 5 – 7 лет

			.event_item
				.event_header
					.event_time 15:00 – 16:00
					.event_hall: .inner встреча в вестибюле
				.event_title Экскурсия-квест. «Полдень, ХХ век»
				.event_age 8 – 12 лет

			.event_item
				.event_header
					.event_time 15:00 – 19:00
					.event_hall: .inner киноконцертный зал
				.event_title Сдвоенный кинопоказ. «Иваново детство», «Сережа»
				.event_age 10+





