extends ../layout

block title
	title РАСПИСАНИЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/schedule.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/schedule.js' + version)

block content
	- var days = ['Воскресенье','Понедельник','Вторник','Среда','Четверг','Пятница','Суббота']
	each date in dates
		.schedule_date_block
			.schedule_date_title=date._id.date + '.' + date._id.month + ' ' + days[date._id.day - 1]
			.schedule_events
				each event in date.events
					.event_item
						.event_header
							.event_time= event.time.hours + ':' + event.time.minutes
							.event_hall: .inner= event.hall.ru
						.event_title= event.title.ru
						.event_age= event.age.ru