extends ../../layout

block title
	title ДОБАВИТЬ ПОСТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')

block content_right
	.navigator
		.nav_title ПОСТ
		.nav_project_children
		br
		b.nav_settings_title настройки
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ

block content
	- var year = new Date()
	- year = year.getFullYear()
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
	.form_block
		a.back_link(href='/auth/posts') < Назад
		.title ДОБАВИТЬ ПОСТ
		form(action="/auth/posts/add", method="post")
			.form_title Заголовок:
			input.ru(type="text", name="ru[title]",)
			input.en(type="text", name="en[title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Дата:
			- var now = new Date()
			select(name='date[date]')
				option(value='') Дата
				- for (var i=1; i<32; i++)
					option(value=i, selected=(i == now.getDate()))= i
			select(name='date[month]')
				option(value='') Месяц
				each month, i in months
					option(value=i, selected=(i == now.getMonth()))= month
			select(name='date[year]')
				option(value='') Год
				option(value=year, selected=(year == now.getFullYear()))= year
				option(value=year - 1, selected=(year - 1 == now.getFullYear()))= year - 1
			//- .form_title Фото:
			//- input(type="file", name="photo")
			br
			br
			input(type='submit', value='отправить')