doctype html
html
	head
		include header
	body
		//- include counters
		.main_block
			.header_block
				.head_title_block
					.title_contacts 119019, ул. Воздвиженка, 5/25
					.title_phone Приемная +7 (499) 691-21-09
				a(href='/').logo МУАР
				.logo_under Музей архитектуры имени Щусева
			.content_block
				block content
			- var date = new Date()
			.footer_block= 'МУАР 2001 - ' + date.getFullYear()