doctype html
html
	head
		include header
	body
		include counters
		.main_block
			.header_block
				.head_title_block
					a(href='/')
						img.logo_one_img(src="/images/design/logo_one.png")
					.logo_exhibition
						.logo_exhibition_date 28.04 -11.06
						.logo_exhibition_title ВЫСТАВКА
						.logo_exhibition_year 2015
					.logo_two
						a.logo_two_link(href='http://www.rgdb.ru', target='_blank')
						.logo_two_img
							include ../public/images/design/logo_rgdb.svg
					.title_text
						span.text_green Российская
						br
						span.text_green государственная детская библиотека
						|&nbsp;
						span представляет вторую интерактивную книжную выставку из цикла «Открывая страницы детской литературы». На этот раз в центре экспозиции книги, изданные в 1941-1945 годах, и детские книги, посвященные событиям того времени.
				.menu_block
					a(href='/news') НОВОСТИ
					a(href='/events') МЕРОПРИЯТИЯ
					a(href='/schedule') РАСПИСАНИЕ
					a(href='/about') О ВЫСТАВКЕ
					a(href='/contacts') КОНТАКТЫ
			.content_right_block
				block content_right
			.content_block
				block content