doctype html
html
	head
		include header
	body
		//- include counters
		.outer_block
			.main_block
				.header_block
					.head_title_block
						a(href='/')
							img.logo_one_img(src="/images/design/logo_one.jpg")
						.logo_date 11.10 - 28.11 2014
						img.logo_two_img(src="/images/design/logo_two.jpg")
						.title_text
							span.text_green Российская
							br
							span.text_green государственная детская библиотека
							|&nbsp;
							span представляет интерактивную выставку для детей и взрослых, посвященную эпохе «оттепели». Дети и взрослые смогут увидеть книги и иллюстрации, послушать музыку и посмотреть мультфильмы 1956-1968 годов
					.menu_block
						a(href='/news') НОВОСТИ
						a(href='/schedule/events') МЕРОПРИЯТИЯ
						a(href='/schedule/cal') РАСПИСАНИЕ
						a(href='/about') О ВЫСТАВКЕ
				.content_block
					block content