.outer_block
	padding-top 60px
	transform skewY(14deg) rotate(-8deg) translate(-95px, 10px)

.main_block
	transform skewY(-14deg) rotate(8deg) translate(95px, -10px)

.content_block
	padding-bottom 100px

.menu_block
	a:nth-child(4)
		color black

.content_text
	padding-top 10px
	padding-bottom 10px
	border-bottom 2px solid black
	margin-bottom 20px
	font 12pt/14pt 'DinProMedium'

.content_columns_group
	overflow hidden
	border-bottom 2px solid black

.content_title
	width 180px
	margin-left 20px
	font 12pt/14pt 'DinProBold'
	color #ff144b
	div
		margin-bottom 10px

.content_colum
	float left
	width 350px
	padding-top 10px
	font 12pt/14pt 'DinProBold'
	ol
		color #ff144b
		list-style-type upper-roman
	.content_title
		color #ff144b
	.content_category
		font 10pt/12pt 'DinProBold'
		color black
	.content_authors
		font 10pt/12pt 'DinProBold'
		color black
	.content_creator
		font 10pt/12pt 'DinProBold'
	li
		margin-bottom 20px


.content_colum_min
	float left
	width 270px
	font 12pt/14pt 'DinProBold'
	ol
		color #ff144b
	.content_title
		color #ff144b
	.content_description
		font 10pt/12pt 'DinProMedium'
		color black
	.content_hall
		font 10pt/12pt 'DinProBold'
		color black
		border-bottom 1px solid #ff144b
	li
		margin-bottom 20px