.menu_block
	a:nth-child(4)
		color black

.content_block
	padding-bottom 50px
	width 800px

.content_title
	font 12pt/14pt 'DinProBold'
	color #ff144b
	div
		margin-bottom 10px

.content_text
	padding-top 10px
	padding-bottom 10px
	border-bottom 2px solid black
	margin-bottom 20px
	font 12pt/14pt 'DinProMedium'
	ul
		margin 0
		padding 0