.content_block
	overflow hidden

.menu_block
	a:nth-child(4)
		color #00e83b

.content_title
	width 180px
	margin-left 20px
	font 12pt/14pt 'DinProBold'
	color #ff144b
	div
		margin-bottom 10px

.content_colum
	float left
	ol
		color #ff144b
		font 12pt/14pt 'DinProBold'
		width 350px
		list-style-type upper-roman
	.content_title
		color #ff144b
	.content_category
		font 10pt/12pt 'DinProBold'
		color black
	.content_authors
		font 10pt/12pt 'DinProBold'
		color black
	.content_creator
		font 10pt/12pt 'DinProBold'
	li
		margin-bottom 20px