a,b
  font-size 16px

.main_menu_block

.content_block
  width 800px
  padding-left 50px
  min-height 600px
  background-color white
  padding-bottom 100px

.head_title_block
  color black

.form_block
  position relative

input, textarea, select
  font-size 16px

.ru
  width 440px
  display inline-block

.en
  width 435px
  display none

.back_link

.title
  margin-top 20px
  font-size 20pt

.form_title
  margin-top 15px
  margin-bottom 15px
  font-size 14pt

.form_section
  margin-left 10px
  margin-top 20px
  margin-bottom 20px
  font 14pt/14pt 'Times'
  font-weight bold

.navigator
  width 150px
  float right
  background-color black
  color white
  padding 10px

.nav_item, .toggle_eng
  cursor pointer
  display block

.nav_item:hover, .toggle_eng:hover
  text-decoration underline

.nav_forms select, .nav_forms input
  font-size 11pt
  min-width 64px
  margin 0

.form_submit
  margin-top 5px
  cursor pointer
  &:hover
    text-decoration underline

.nav_forms
  .form_submit
    margin-top 10px

.footer_block, .social_block
  display none

.spacer
  display inline-block
  width 10px
  text-align center
  margin-right 5px
  font-size 12pt

.tickets_list
  display none
  margin-left 40px