.menu_block
	a:nth-child(5)
		color black

#map-canvas
	width 800px
	height 400px
	margin-bottom 20px

.content_title
	font 16pt/18pt 'DinProBold'
	color #ff144b

.content_s_title
	font 14pt/16pt 'DinProBold'
	margin-bottom 20px

.content_text
	padding-top 10px
	padding-bottom 10px
	border-bottom 2px solid black
	margin-bottom 20px
	font 14pt/16pt 'DinProMedium'
	ul
		margin 0
		padding 0
	a
		color rgb(0, 220, 50)