.outer_block
	padding-top 50px
	transform skewY(14deg) rotate(-8deg) translate(-55px, 10px)

.main_block
	transform skewY(-14deg) rotate(8deg) translate(55px, -10px)

.menu_block
	a:nth-child(2)
		color rgb(0, 220, 50)

.coontent_title
	color #ff144b
	font 12pt/14pt 'DinProBold'
	margin-bottom 20px

.events_column
	float left
	width 250px
	margin-right 50px

.events_group_title
	font 12pt/14pt 'DinProBold'

.events_group_description
	font 10pt/12pt 'DinProMedium'
	color #ff144b

.events_block
	margin-top 20px

.event_item
	margin-bottom 20px

.event_title, .event_date
	font 12pt/14pt 'DinProBold'
	color #ff144b

.event_dates_block
	width 200px

.event_hall
	font 10pt/12pt 'DinProBold'
	border-bottom 1px solid #ff144b

.event_description
	font 10pt/12pt 'DinProMedium'

.event_age
	font 10pt/12pt 'DinProBold'
	color #ff144b