.menu_block
	a:nth-child(2)
		color black

.menu_right
	.category_item
	a
		display block
		cursor pointer
		text-decoration none
		font 12pt/14pt 'DinProBold'
		color rgb(0, 220, 50)
		margin-bottom 5px
		&:hover
			color black

.categorys_block_title
.exhibitions_block_title
	font 14pt/16pt 'DinProBold'
	color #ff144b
	margin-bottom 5px

.exhibitions_block
	margin-top 15px

.coontent_title
	color #ff144b
	font 16pt/18pt 'DinProBold'
	margin-bottom 20px

.events_column
	float left
	width 230px
	margin-right 55px

.events_group_title
	font 16pt/18pt 'DinProBold'

.events_group_description
	font 14pt/16pt 'DinProMedium'
	color #ff144b

.events_block
	margin-top 20px

.event_item
	margin-bottom 20px

.event_title, .event_date
	font 14pt/16pt 'DinProBold'
	color #ff144b

.event_dates_block
	width 200px
	margin-top 5px

.event_hall
	font 12pt/14pt 'DinProBold'
	// border-bottom 1px solid #ff144b

.event_description
	margin-top 5px
	font 14pt/16pt 'DinProMedium'

.event_age
	font 10pt/14pt 'DinProBold'
	color #ff144b