body
	margin 0
	background-color #ff144b

.outer_block
	position absolute
	min-width 1180px
	height 95%
	background-color white
	transform skewY(10deg) rotate(-8deg) translate(-55px, 10px)

.main_block
	// margin-top 50px
	position absolute
	height 160px

.menu_block
	margin-left 110px
	margin-bottom 30px
	width 900px
	overflow hidden
	border-bottom 1px solid black

.header_block
	margin-left 50px
	width 1280px

.link_outer
	width 180px
	margin-right 40px
	height 60px
	float left
	position relative
	a
		position absolute
		text-decoration none
		bottom 0
		font 12pt/14pt 'DinProBold'
		color black

.head_title_block
	overflow hidden

.logo_one_img
	width 380px
	float left

.logo_date
	float left
	width 510px
	font 65pt/68pt 'DinProBold'
	color #ff144b
	position relative
	z-index 1

.logo_two_img
	width 200px
	float left
	position absolute
	display block
	top 40px
	left 720px
	z-index 0

.title_text
	width 250px
	margin-left 10px
	margin-top 50px
	float left
	font 13pt/14pt 'DinProMedium'
	hyphens: auto

.text_green
	color #00e83b





.content_block
	margin-left 150px