body
	margin 0
	padding 0

.main_block
	width 1140px
	// outline 1px solid red

.menu_block
	margin-left 110px
	margin-bottom 30px
	width 900px
	overflow hidden
	border-bottom 2px solid black
	a
		text-decoration none
		margin-right 80px
		display block
		float left
		font 12pt/17pt 'DinProBold'
		// margin-bottom -5px
		color rgb(0, 220, 50)
	:hover
		color black

.header_block
	margin-left 50px
	width 1280px
	// outline 1px solid red

.head_title_block
	overflow hidden

.logo_one_img
	margin-top 15px
	width 380px
	float left

.logo_date
	float left
	width 510px
	font 65pt/68pt 'DinProMedium'
	color #ff144b
	position relative
	z-index 1

.logo_two
	top 40px
	left 720px
	float left
	position absolute
	.logo_two_img
		width 200px
		position absolute
		z-index 0
	.logo_two_link
		width 200px
		height 200px
		position absolute
		z-index 999

.title_text
	width 230px
	margin-left 120px
	margin-top 50px
	float left
	font 13pt/14pt 'DinProMedium'
	hyphens: auto
	position relative
	z-index 999999

.text_green
	color rgb(0, 220, 50)

.content_block
	width 900px
	margin-left 160px
	padding-bottom 50px
	overflow hidden