.main_block
  width 1000px
  margin 0 auto

.content_block
  margin-top 20px

.head_title_block
  overflow hidden
  margin-bottom 20px
  border-bottom 1px solid #b2baba
  font 12pt/14pt 'helveticaneuecyrlight'

.title_contacts
  float left

.title_phone
  float right

a
  &.logo
    text-align center
    color black
    text-decoration none
    display block
    font 45pt/48pt 'helveticaneuecyrthin'

.logo_under
  text-align center
  font 12pt/14pt 'helveticaneuecyrthin'

.footer_block
  text-align center
  font 11pt/13pt 'helveticaneuecyrthin'
  margin-top 30px
  border-top 1px solid #b2baba
  padding-top 10px

