.posts_date_title
	font 18pt/20pt 'helveticaneuecyrthin'
	text-align center
	padding-top 5px
	padding-bottom 5px
	border-top 1px solid #b2baba
	border-bottom 1px solid #b2baba
	margin-bottom 30px

.post_item
	margin-bottom 30px

.post_date
	font 18pt/20pt 'helveticaneuecyrthin'
	float left
	margin-right 10px

.post_title
	font 18pt/20pt 'helveticaneuecyrbold'
	margin-bottom 10px
	border-bottom 1px solid #b2baba
	display block
	color black
	text-decoration none

a.post_title
	&:hover
		color #b2baba

.post_description
	font 12pt/14pt 'helveticaneuecyrlight'