.content_block
	width 650px
	margin-left 310px

.menu_block
	a:nth-child(1)
		color black

.news_item
	margin-bottom 20px

.news_date_title
	font 22pt/16pt 'DinProBold'
	color #ff144b
	border-bottom 2px solid #ff144b

.news_title
	font 16pt/18pt 'DinProBold'
	text-transform uppercase
	margin-top 10px
	border-bottom 2px solid #ff144b
	// margin-bottom 5px

.news_s_title
	font 12pt/14pt 'DinProBold'
	color black
	margin-bottom 5px

.news_description
	font 12pt/14pt 'DinProMedium'