.menu_block
	a:nth-child(1)
		color black

.content_block
	width 1000px
	min-height 500px

.news_item
	margin-bottom 20px

.news_date
	font 14pt/16pt 'DinProBold'
	color #ff144b

.news_title
	font 16pt/18pt 'DinProBold'
	text-transform uppercase
	width 800px
	margin-top 5px
	color #ff144b

.news_s_title
	font 16pt/18pt 'DinProBold'
	width 800px
	color black
	margin-bottom 5px

.news_description
	width 800px
	font 14pt/16pt 'DinProMedium'

.images_gallery_block
	overflow hidden
	margin-bottom 10px

.gallery_navigate
	font 12pt/14pt 'DinProBold'
	color rgb(0, 220, 50)
	cursor pointer
	margin-bottom 5px
	&:hover
		color black

.images_gallery_cover
	width 800px
	height 160px
	overflow hidden
	float left
	margin-right 30px

.images_gallery_outer
	white-space nowrap
	overflow-y hidden
	vertical-align top
	width 800px
	height 180px
	top 60px
	bottom 0

.images_gallery_inner
	display block
	height 100%

.column
	width auto
	cursor pointer
	min-width 80px
	height 140px
	border 5px solid rgb(0, 220, 50)
	margin-right 10px
	display inline-block
	&:hover
		border 5px solid black
	&:last-child
		margin-right 0px

.image_preview
	width 800px
	height 400px
	overflow hidden
	margin-bottom 10px
	display none
	cursor pointer
	img
		display block
		width 800px