.menu_block
	a:nth-child(3)
		color black

.content_block
	width 800px

.content_title
	color #ff144b
	font 16pt/18pt 'DinProBold'
	margin-bottom 30px

.schedule_months
	a
		display block
		text-decoration none
		font 12pt/14pt 'DinProBold'
		color rgb(0, 220, 50)
		margin-bottom 5px
		&:hover
			color black

.schedule_date_block
	margin-bottom 14px

.schedule_date_title
	font 26pt/0pt 'DinProBold'
	color #ff144b
	margin-bottom 10px

.schedule_date_s_title
	font 12pt/14pt 'DinProBold'
	margin-bottom 10px

.schedule_events
	overflow hidden
	margin-left 150px

.event_item
	overflow hidden
	margin-bottom 10px

.event_header
	overflow hidden
	// border-bottom 1px solid #ff144b

.event_time
	font 16pt/18pt 'DinProBold'
	color #ff144b
	float left

.event_hall
	float left
	font 12pt/14pt 'DinProBold'
	margin-left 10px
	position relative
	height 24px
	width 350px
	.inner
		position absolute
		left 0
		bottom 0

.event_title
	font 16pt/18pt 'DinProBold'
	float left

.event_age
	float left
	margin-left 10px
	font 10pt/20pt 'DinProBold'
	color #ff144b