extends ../../layout

block title
	title СОБЫТИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title СОБЫТИЯ
	br
	a.add(href='/auth/events/add') добавить событие
	br
	br
	.main_menu_block
		each event in events
			.event
				a.rm_event(href='#', id=event._id)= 'удалить '
				!=' | '
				a(href='/auth/events/edit/' + event._id)= event.title.ru