extends ../../layout

block title
	title=exhibition.i18n.title.get('ru').toUpperCase() + ' | ' + 'СОБЫТИЯ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth/exhibitions') < Назад
	.title= 'СОБЫТИЯ ДЛЯ ВЫСТАВКИ ' + exhibition.i18n.title.get('ru').toUpperCase()
	br
	a.add(href='/auth/exhibitions/edit/' + exhibition._id + '/events/add') добавить событие
	br
	br
	.main_menu_block
		each event in events
			.event
				a.rm_event(href='#', id=event._id)= 'удалить '
				!=' | '
				a(href='/auth/exhibitions/edit/' + exhibition._id + '/events/edit/' + event._id)= event.i18n.title.get('ru')