extends ../../layout
include ../forms.jade

block title
	title РЕДАКТИРОВАТЬ ВЫСТАВКУ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')

block content_right
	.navigator
		.nav_title ВЫСТАВКУ
		.nav_project_children
		br
		b.nav_settings_title настройки
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ

block content
	.form_block
		a.back_link(href='/auth/exhibitions') < Назад
		.title РЕДАКТИРОВАТЬ ВЫСТАВКУ
		form(action="", method="post")
			.form_title Заголовок:
			+form_text_single('title', exhibition)
			.form_title Описание:
			+form_text_multi('description', exhibition)
			.form_title Дата начала:
			+form_calendar('date_start', exhibition.interval.start)
			.form_title Дата конца:
			+form_calendar('date_end', exhibition.interval.end)
			.form_title Категории:
			+form_multiple_select('categorys', categorys)
			br
			br
			input(type='submit', value='отправить')