extends ../../layout

block title
	title РЕДАКТИРОВАТЬ КАТЕГОРИЮ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/css/add.js')

//- block content_right
//- 	.navigator
//- 		.nav_title КАТЕГОРИЮ
//- 		.nav_project_children
//- 		br
//- 		b.nav_settings_title настройки
//- 		.toggle_eng перевод
//- 		br
//- 		b.form_submit ОТПРАВИТЬ

block content
	.form_block
		a.back_link(href='/auth/categorys') < Назад
		.title РЕДАКТИРОВАТЬ КАТЕГОРИЮ
		form(action="", method="post")
			.form_title Заголовок:
			input.ru(type="text", name="ru[title]", value=category.i18n.title.get('ru'))
			input.en(type="text", name="en[title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)= category.i18n.description.get('ru')
			textarea.en(name="en[description]", rows="8", disabled)
			br
			br
			input(type='submit', value='отправить')