extends ../layout

block title
	title= 'ОШИБКА | ' + status

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/error.css' + version)

block content
	.error_title= 'ОШИБКА ' + status
	if (status == 404)
		.error_s_title нет такой страницы
	else if (status == 500)
		.error_s_title неправильное значение адреса