extends ../layout

block title
	title МУАР

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/main.js' + version)


mixin trimString(str)
	- if (str.length > 250)
		- for (var i = 250; i < str.length; i++)
			- if (str[i] == '.' || str[i] == '?' || str[i] == '!')
				- str = str.substr(0, i+1)
		!= str + '..'
	- else
		!= str

block content
	- var months = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря']
	.posts_date_block
		each date in dates
			.posts_date_title= date._id.day + ' ' + months[date._id.month - 1]
			each post in date.posts
				.post_item
					.post_title_block
						- var minutes = post.time.minutes <= 9  ? '0' + post.time.minutes : post.time.minutes
						//- .post_date= post.time.hours + ':' + minutes
						a.post_title(href='/posts/' + post._id)= post.title.ru
					.post_description
						+trimString(post.description.ru)