extends ../layout

block title
	title МУАР

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/main.js' + version)


block content
	.posts_block
		.posts_date_title= post.title.ru
		.post_description!= post.description.ru