extends ../layout

block title
	title ПОЛДЕНЬ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/news.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/news.js' + version)

block content
	//- - var months = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря']
	.news_date_block
		each date in dates
			.news_date_title= date._id.day + '.' + date._id.month
			each item in date.news
				.news_item
					.news_title= item.title[0].value
					.news_s_title= item.s_title[0].value
					.news_description
						!= item.description[0].value