extends ../layout

block title
	title НОВОСТИ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/news.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/news.js' + version)

block content
	.image_preview_block
		img.image_preview
	.news_date_block
		each date in dates
			.news_date_title= ('0' + date._id.day).slice(-2) + '.' + ('0' + date._id.month).slice(-2)
			each item in date.news
				.news_item
					.news_title= item.title[0].value.toUpperCase()
					.news_s_title= item.s_title[0].value.toUpperCase()
					.images_gallery_block
						.images_gallery_cover
							.images_gallery_outer
								.images_gallery_inner
									img.column(src='http://prirodasibiri.ru/images/news/pic/5300_1.jpg')
									img.column(src='http://www.nimbusmens.com.ua/wp-content/uploads/2013/11/Keltskiy-goroskop-zhivotnyh-Medved.jpg')
									img.column(src='http://timoshin.ucoz.ru/_ph/7/270841940.jpg')
						.images_gallery_navigate
							.gallery_navigate.back назад
							.gallery_navigate.forward вперед
					.news_description
						!= item.description[0].value