extends ../../layout

block title
	title НОВОСТИ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title НОВОСТИ
	br
	a.add(href='/auth/news/add') добавить новость
	br
	br
	.main_menu_block
		each item in news
			.news
				a.rm_news(href='#', id=item._id)= 'удалить '
				!=' | '
				a(href='/auth/news/edit/' + item._id)= item.i18n.title.get('ru')